.formin
{
    border: 5px solid white;
    height: 50vh;
    width: 40vw;
    background: orange;
    background-opacity:90%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 57px;
    border-top-right-radius: 57px;
    box-shadow: 2px 2px 30px white;
    padding: 10px;
    z-index:1;
}

.formblack
{
    position: fixed;
    left:0px;
    top:0px;
    display: flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
}
.Taskform
{
    z-index:3;
    align-items:flex-start;
}
#updatetask
{
    display:none;
}
input[name="task"]
{
        width: 90%;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline:none;
}
input[type="date"]
{
    
    border: 0px;
    background: transparent;
    color: white;
    outline:none;
    border:none;
}
.submitbtn
{
    width: 30%;
    height: 10%;
    border: 0px solid transparent;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #d08442;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    margin:10% 0% 10% 0%;
}
@media only screen and (max-width: 600px)
{
    .formin
    {
        width:80vw;
    }
}