.Options
{
	cursor: move;
	position:absolute;
	left:0px;
	right:0px;
	width:100px;
	height:100px;
}
.Optioncontainer
{
	position:fixed;
	display:flex;
	width:100vw;
	height:1000vh;
	z-index:;
}
.drag, .Options
{
	cursor:pointer;
	width:50px;
	height:50px;
	border:2px double white;
	background:#ff963c;
	background-image: url("../assets/settings.png");
	background-image:url('../assets/settings.png'), radial-gradient(#d08442, #ff963c); 
	background-size:100%;
	border-radius:50%;
	position:absolute;
	z-index:100;
	bottom:2vw;
	right:2vh;
}
.drag
{
	box-shadow:0px 0px 15px white;
}
.drag:active
{
	transform:rotateZ(130deg) scale(1.1);
}

.Options
{
	animation:pulse 1s infinite ease-out;
	background:#ff963c;
}
.Options:nth-child(2)
{
	animation-delay:0.2s
}
.Options:nth-child(3)
{
	animation-delay:0.4s
}
@keyframes pulse
{
	from { opacity:1;transform:scale(1.5);}
	50%{opacity:0;transform:scale(1)}
	to{  opacity:1;transform:scale(1.5); }
}
.drag + span
{
	width:1000px;
}
.opt
{
	cursor:pointer;
	position:absolute;
	width:40px;
	height:40px;
	overflow:hidden;
	background:#ff963c;
	border:2px double white;
	border-radius:50%;
	margin:0px;
	bottom:2vw;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:100;
	right:2vh;
	font-weight:bold;
	color:white;
}
.optimg
{
	height:80%;
	
}