.task
{
	width:30vw;
	height:30vh;
	background:rgba(255,139,39,0.9);
	transform:skewY(5deg);
	margin-bottom:-15vh;
	display: flex;
	align-items:center;
	justify-content: center;
	border:1px solid white;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	box-shadow:1px 1px 10px black;
	color:white;
	font-size:larger;
	text-transform:capitalize;
}
.task input.check
{
	position: absolute;
    left: 1%;
    top: 1%;
    height: 25px;
    width: 25px;
}
.taskname
{
	margin:0px;
	padding:0px;
}
.tasknow
{
	margin-bottom:5px;
}
.taskpage
{
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	z-index:2;
}

.task:nth-child(2n+0)
{
	transform:skewY(-5deg)
}
.task:first-child
{
	margin-top:10px;
}

.TaskList
{
	display: flex;
	flex-direction:column;
}
.delete
{
}
.task:last-child
{
	transform:skewY(0deg)
}
@media only screen and (max-width: 600px)
{
	.task,.delete,.edit
	{
		width:90vw;
	}
	.taskpage
	{
		flex-direction:column;
		align-items:center;
	}
}
.taskoptimg
{
	height: 7vh;
	margin:10px;
}
.delete,.edit
{
	/*position:absolute;*/
	right:1%;
	top:1%;
}
.edit
{
	top:3%;
}
.flex-options
{
	display: flex;
	justify-content: center;
	flex-direction:column;
	position: absolute;
	right:1%;
	top:1%;
}