<!DOCTYPE html>
<html>
<head>
	<title>Welcome to SAS</title>
  			<link rel="stylesheet" href="task.css">


    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
   <body>
   	<span class="rod">
   	</span>
   	<div>
   		<div id="task1" class="task">
   			 <p >new</p><span>8/262/55</span><span>X</span><span>edit</span>
   		</div>
   		<div id="task2" class="task">
   			 <p >new</p><span>8/262/55</span><span>X</span><span>edit</span>
   		</div>
   		<div id="task3" class="task">
   			 <p >new</p><span>8/262/55</span><span>X</span><span>edit</span>
   		</div>
   		<div id="task4" class="task">
   			 <p >new</p><span>8/262/55</span><span>X</span><span>edit</span>
   		</div>
   		<div id="task5" class="task">
   			 <p >new</p><span>8/262/55</span><span>X</span><span>edit</span>
   		</div>
   		<div id="task6" class="task">
   			 <p >new</p><span>8/262/55</span><span>X</span><span>edit</span>
   		</div>
   	</div>
  </body>
</html>
