:root
{
	--task-width:200px;
}
.task
{
	width:var(--task-width);
	height:100px;
	background:red;
	margin:13px;
}
.rod
{
	height:100vh;
	width:1vw;
	position:fixed;
	right:20px;
	top:0px;
	margin-right:var(--task-width);
	background:red;
}
body > div
{
	display:flex;
	flex-direction: column;
	justify-content:flex-end;
	align-items:flex-end;
	width:100%;
}
.task:nth-child(odd)
{
	background:green;
	position:relative;
	right:var(--task-width);
}